.settings
.project
tendamusical-data/.settings
tendamusical-data/target
tendamusical-data/.project
tendamusical-data/.classpath

tendamusical-entities/.settings
tendamusical-entities/target
tendamusical-entities/.project
tendamusical-entities/.classpath

tendamusical-web/.settings
tendamusical-web/target
tendamusical-web/.project
tendamusical-web/.classpath


tendamusical-services/.settings
tendamusical-services/target
tendamusical-services/.project
tendamusical-services/.classpath